.container{
    background-image: url("img/6.jpeg");
    height: 100vh !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    max-width: 100% !important;
    position: static !important;
}

h1{
    text-align: center;
}

form{
    margin-top: 2rem !important;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 40px;
    border: 5px solid #a69090;
    text-align: center;
   
}


a{
    text-decoration: none;
    color:  rgb(2, 23, 40) !important;
    padding-left: 16px !important ;
}

.btn{
    font-weight: 600;
    border: none;
    color: rgb(255 255 255);
    background-color: rgb(47 49 55);
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
    width: 80%;
        
}
.btn:hover{
    background-color: rgb(93 95 102);
    ;

}